html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 1fr;
    min-width: 1020px;
    min-height: 500px;
    overflow: auto;
    container-type: inline-size;
}